p-table /deep/.ui-widget{
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    
}

p-table /deep/th{
    font-weight: 400;
    font-size: 1.3rem;
}

p-table /deep/p-table{
    width: 100%
}

p-table /deep/p-table div{
    background: linear-gradient(to bottom, #72AFD2 0%, #72AFD2 100%);
    color: white;
    text-align: left
}

p-table /deep/p-table tfoot{
    font-size: 2px
}

mk-box-info /deep/.info-box {
    color: white
}

mk-box /deep/.box-body {
    padding: 2px;
}
.ui-inputgroup{
    float: right
}

.filtroGlobal{
    padding-right: 8px;
}

.switchButton{
    text-align: left;
    padding-left: 8px;
}
#tituloTabela{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0;
}
.botoesAcao{
    text-align: left;
    font-weight: normal;
}
.botoesAcao /deep/button{
    height: 25px;
    margin-top: 2px;
}
.tableCentralizada{
    text-align: center
}
.tableEsquerda{
    text-align: left
}
.colunasFixas{
    width: 15%
}
.colunasDinamicas{
    width: auto
}
.permissao /deep/.fa-lg{
    line-height: 1em;
}

.edicao /deep/.fa{
    font-size: 14px
}

.permissao{
    color: #000  !important;
    font-size: 1.7rem;
    padding: 0 3px 0 3px;
    cursor: pointer
}

.edicao{
    color: #3C8DBC  !important;
    font-size: 1.5rem;
    padding: 0 3px 0 3px;
    cursor: pointer
}

.ativar{
    color: #4CAE4C  !important;
    font-size: 1.5rem;
    padding: 0 3px 0 3px;
    cursor: pointer
}

.desativar{
    color: #DD4B39  !important;
    font-size: 1.5rem;
    padding: 0 3px 0 3px;
    cursor: pointer
}

.visualizar{
    color: #374850  !important;
    font-size: 1.5rem;
    padding: 0 3px 0 3px;
    cursor: pointer
}